body {
    width: 100%;
    background-color: #a3c585;
}

h1, h3 {
    text-align: center;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #157347;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;

}


ul li {
    float: left;
}


img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

