html {
  height: 100%;
  width: 100%;
}

form{
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-field, button{
  width: 100%;
  display: inline-block;
  margin: 5px;
}

/* Nav Styles */
.navbar {
  background-color: orange;
}

